body{
	font-family: 'Encode Sans', sans-serif;
	color:#666 !important;	
	font-size:16px !important;
}

.navbar-toggler {
    position: absolute;
    top: 30px;
	display:none;
	}

.navbar-toggler strong{
	color:#e6ddcc;
	font-size:14px;
	font-family: 'Encode Sans', sans-serif;
	font-weight:400;
}

span.navbar-toggler-icon{
	background:none !important;
	background-image:none !important;
	color:#e6ddcc;
	width: 70px;
}

header#masthead{
box-shadow: none !important;
background-color: #fff !important;
	max-height:90px;
}

.navbar{
	font-family: 'Encode Sans', sans-serif;
}

#masthead ul.navbar-nav{
	margin: 30px 0 !important;
}

#masthead ul.navbar-nav li a.nav-link{
	color:#4B5860 !important;
	font-family: 'Encode Sans', sans-serif;
	font-size:14px;
	font-weight:800 !important;
	padding: 0.5rem 3rem !important;
}

#masthead ul.navbar-nav li a.nav-link:hover{
color:#EF404A
}

a.red-burger{
	background: #EF404A;
color: #fff;
padding: 30px;
position: absolute;
right: 0;
}

#menufullscreen{
	height: 100%;
	position: absolute;
	background: #EF404A;
	z-index: 999;
	width: 100%;
}

#menufullscreen .col-md-6{
	margin-top:15%
}

#menufullscreen #fullscreen-nav ul li a.nav-link{	
	color:#fff;
	font-size:32px;
	text-decoration:none;
	font-weight:400;
}

#menufullscreen #small-nav ul li a.nav-link{
	color:#fff;
	font-size:16px;
	font-weight:400;
}

#menufullscreen #close{
color: #fff;
right: 20px;
position: absolute;
top: 20px;
}

#searchbox{
position: absolute;
background: #EF404A;
width: 100%;
z-index: 998;
min-height: 80px;
padding: 20px 250px;
}

#searchbox label{
	width:50%;
}

#searchbox .search-field{
font-size: 24px;
background: transparent;
border: 0;
box-shadow: none;
	color:#fff;
}

#searchbox .search-field::placeholder{
	color:#fff;
}

#searchbox .search-submit{
background: #fff;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
}

#searchbox .campo i{
float: left;
margin-top: 7px;
color: #fff;
margin-right: 10px;
}

#searchbox #close{
color: #fff;
right: 20px;
position: absolute;
top: 20px;
}




/* PRODUTO */


.product h2{
    font-size:48px;
}


section.top-produto{
background:url('../img/bg-top-produto.jpg') top center no-repeat;
background-size:cover;
color:#fff;
    padding:50px 0 210px 0;
    margin-bottom:40px;
}

section.top-produto a.voltar{
color:#fff;
font-size:14px;
}

section.top-produto a.link-embaixador{
display:block;
float:right;
color:#fff;
font-weight:bold;
padding-bottom:10px;
background:url('../img/line-embaixador.png') bottom right no-repeat;
}

section.top-produto .col-5, section.top-produto .col-7{
    margin-top:50px;
}

 section.top-produto h1{
 background:url('../img/line-title-produto.png') bottom left no-repeat;
 padding-bottom:25px;
 margin-bottom:30px;
     margin-top:40px;
 color:#fff;
 font-size:46px;
 text-transform:uppercase;
     border-bottom:0 !important;
 }
 
section.top-produto p{
font-size:14px;
color:#fff;
    margin-bottom:40px;
}

section.top-produto .dica-causa{
padding-left:80px;
background:url('../img/ico-vocesabia.png') top left no-repeat;
padding: 0 120px 40px 120px;
text-align: center;
}

section.top-produto .dica-causa h3{
color:#FAA61E;
font-size:21px;
font-weight:normal;
background:url('../img/aspas-vocesabia.png') top right no-repeat;
}

section.top-produto .dica-causa p{
padding-bottom:15px;
background:url('../img/line-vocesabia.png') bottom center no-repeat;
}

section.top-produto a.see-pages{
font-weight:bold;
color:#fff;
font-size:18px;
text-decoration:underline;
}


section.top-produto .woocommerce-product-gallery{
    width:90% !important;
}


section.mid-produto h1, section.mid-produto .woocommerce-product-details__short-description,  section.mid-produto .stock, section.mid-produto .flex-control-thumbs{
    display:none;
}

section.mid-produto h5{
color:#3F4F59
}

section.mid-produto .price{
    color:#000 !important;
    font-size:18px;
}

section.mid-produto .woocommerce .quantity .qty{
padding: 7px 0;
border: 0;

}


.woocommerce button.button.alt{
background:#EF404A;
text-transform: uppercase;
font-size: 16px;
font-weight: 400;
}

section.mid-produto .bg-mid-produto{
    background: #f1f1f1;
height: 600px;
position: absolute;
top: 1420px;
z-index: -2;
width: 100%;
left: 0;
}


section.embalagem{
    padding:70px 0;
    background:#fff;
    
}

section.embalagem h3{
    color:#3F4F59;
}

section.detalhes-tecnicos{
    background:#EFF0F0;
    padding:70px 0;
}

section.detalhes-tecnicos h2{
color:#3F4F59;
    font-size:48px;
    font-weight:800;
    margin-bottom:40px;
}

section.fazer-diferenca{
    background:#79318F;
    padding:80px 0 30px 0;
    color:#fff;
    text-align:center;
}

section.fazer-diferenca h2, section.causa-numeros h2, h2.white{
    font-size:48px;
    color:#fff;
    margin-bottom:40px;
}

section.fazer-diferenca a.bt-white{
    display:inline-block;
    padding:15px 60px;
    color:#fff;
    text-transform:uppercase;
    border:1px solid #fff;
    border-radius: 10px;
    margin:40px 0;
    width:
}

section.causa-resultado{
background:url('../img/bg-maisque.png') left center no-repeat;
    font-size:44px;
    font-weight:normal;
    padding:100px 0;
}

section.causa-resultado .col-6{
    float:right;
}



section.causa-resultado h2, section.instituicao h2, h2.red{
color:#E9432C;
font-weight:bold;
    margin-bottom:40px;
}

section.causa-resultado p{
    font-size:14px;
}

section.causa-numeros{
    padding:80px 0;
    color:#fff;
    text-align:center;
    background: #F5A41F;
}

section.causa-numeros h3{
    font-size:65px;
    color:#3F4F59;
    margin:25px 0;
}
section.divisao{
    background:url('../img/bg_graph.png') top center no-repeat;
    padding:80px 0;
}

section.divisao .col-12{
    text-align:center;
}

section.instituicao{
     padding:80px 0;
}

section.instituicao h4{
    font-size:26px;
}

section.instituicao h5 a{
    font-size:27px;
    color:#3F4F59;
}


/* IMPACTO */

header.top-impacto{
    background:url('../img/top-impacto.jpg') top center no-repeat;
background-size:cover;
    padding:220px 0 115px 0;
}

header.top-impacto h2{
    color:#4B5860;
}


header.top-impacto .col-6{
    padding-left:100px;
}

section.causas-apoio{
    background:url('../img/bg-causas-apoio.jpg') bottom center no-repeat;
    padding:50px 0;
}

section.causas-apoio .col-12{
    margin:70px 0;
}

section.causas-apoio .col-12 .row .col-3{
    color:#000;
    
}


section.causas-apoio .col-6:nth-child(2){
    padding-top:200px;
}

section.causas-ciclo{
    
}

section.fazer-diferenca{
    
}

section.porque-comprar{
    
}

section.impacto-marcas{
    
}



/* FOOTER */

#footer-widget{
	padding:30px 0;
	background-color:#EF404A !important;
	color:#fff;
	line-height:26px;	
	font-size:14px;
}

#footer-widget a{
	color:#fff;
}

#footer-widget #custom_html-3 .custom-html-widget, #footer-widget #text-2 .textwidget{
	border-left:1px solid #fff;
	padding-left: 20px;
}

#footer-widget #custom_html-4 .custom-html-widget, #footer-widget #custom_html-3 .custom-html-widget{
	margin-top:30px;
}

#footer-widget #text-2{
	margin-top:15px;
	font-size:12px !important;

}

#footer-widget #text-2 h3{
	color:#fff;
	font-size:12px;
	font-weight:600;
	margin-top:0;
	margin-bottom:0;
}

#footer-widget #text-2 p{
	margin-bottom:5px;
}


#footer-widget #text-2 h5{
		color:#fff;
	font-size:11px;
	font-weight:400;
}


#footer-widget p.redes{
	margin-top:20px;
	font-size:12px;
	margin-bottom:0;
}

#footer-widget a.social{
margin-top: 10px;
display: inline-block;
margin-right: 15px;
}

#footer-widget #text-2 input[type=email]{
	width: 75%;
	float: left;
	border-radius:0 !important;
	border:0;
	font-size:19px;
}

#footer-widget #text-2 input[type=submit]{
	float: left;
	background:#0952A0 !important;
	border-radius:0 !important;
	font-size:14px;
	width: 20%;
border: 0;
padding: 9px !important;
}

.widget{
	font-size:14px !important;
}



