/*Checkout adjusts*/
a.red-burger {
  background: #ef404a;
  color: #fff;
  padding: 30px 2% !important;
  position: absolute;
  right: 0;
}

a.red-burger span {
  display: inline-block;
  transform: scale(0.8, 1.7);
  margin-right: 20px;
  vertical-align: top;
  font-weight: 400;
  font-family: sans-serif;
}

.woocommerce-cart header#masthead {
  box-shadow: 0 0.2rem .8rem rgba(0,0,0,.04), inset 0 1px 0 1px rgba(0,0,0,.1) !important;
  background-color: #fff !important;
  height: 85px;
  max-height: 85x;
  border-bottom: unset;
}

.woocommerce-cart .navbar-brand {
  padding: 25px 3%;
}

.woocommerce-cart h1.entry-title {
  margin: 30px 0;
  font-size: 24px;
  color: #35545E;
  font-weight: 700;
  border-bottom: none;
}

.woocommerce-cart .quantity .qty {
  min-width: 90px;
}

.woocommerce-cart button.button {
  font-size: 12px;
  padding: 13px 30px !important;
  margin-top: 70px !important;
  white-space: nowrap;
}

.woocommerce-cart table.cart td.actions .input-text,
.woocommerce-cart .woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-cart .woocommerce-page table.cart td.actions .input-text {
  max-width: 150px;
}

.woocommerce-cart .woocommerce table.cart td.actions .input-text::placeholder, 
.woocommerce-cart .woocommerce-page #content table.cart td.actions .input-text::placeholder, 
.woocommerce-cart .woocommerce-page table.cart td.actions .input-text::placeholder {
  padding: 0 20px;
  font-size: 12px;
  color: #35545E;
}

.woocommerce-cart .cart_totals h2{
  font-size: 22px;
  font-weight: 700;
  margin-left: 10%;
  margin-top: 34.9px;
}

#add_payment_method .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-checkout .cart-collaterals .cart_totals table th {
  width: 35%;
  padding-left: 10%;
  font-size: 16px !important;
  font-weight: 700;
}

.woocommerce-cart .cart-subtotal td[data-title="Subtotal"] span,
.woocommerce-cart #shipping_method li label {
  font-weight: 300 !important;
}

.woocommerce-cart .cart-subtotal td[data-title="Subtotal"],
.woocommerce-cart .order-total td[data-title="Total"] {
  text-align: right;
  padding-right: 15% !important;
  font-size: 18px !important; 
}

.woocommerce-cart .woocommerce-Price-amount {
  font-size: 18px !important;
}

.woocommerce-cart #shipping_method li,
.woocommerce-cart #shipping_method li label *,
.woocommerce-cart .woocommerce-shipping-destination,
.woocommerce-cart  .shipping-calculator-button {
  font-size: 12px !important;
}

.woocommerce-cart .shipping-calculator-button::after{
  content: none !important;
}

.woocommerce-cart .shipping-calculator-button:hover {
  text-decoration: underline;
}

.woocommerce-cart .shipping-calculator-form input,
.woocommerce-cart .shipping-calculator-form .select2-container--default .select2-selection--single {
  border-radius: 6px;
  box-shadow: none !important;
  border: 1px solid #BCBEC0;    
  height: 40px;
  padding: 5px 10px;
}

.woocommerce-cart .select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 35px;
}


.woocommerce-cart .woocommerce a.button.alt {
  margin-top: 0 !important;
  height: 56px;
  padding: 15px 0 !important;
}


/*Mobile time*/
@media screen and (max-width: 1024px){    

  .woocommerce-cart table.shop_table_responsive tr, 
  .woocommerce-cart table.shop_table_responsive tr {
      overflow: hidden;
  }


  .woocommerce-cart .woocommerce table.shop_table_responsive tr td, 
  .woocommerce-cart .woocommerce-page table.shop_table_responsive tr td {
      float: left;
      width: 100%;
  }


  .woocommerce-cart .woocommerce-shipping-destination{
      text-align: left;
      margin: 40px 0;
  }

  .woocommerce-cart .woocommerce table.cart td.actions .coupon label,
  .woocommerce-cart .woocommerce-page #content table.cart td.actions .coupon label,
  .woocommerce-cart .woocommerce-page table.cart td.actions .coupon label {
      display: block !important;
  }

  .woocommerce-cart .coupon,
  .woocommerce-cart button.button,
  .woocommerce-cart table.cart td.actions .input-text {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      width: 100% !important;
      max-width: 100% !important;
      display: block;
      max-width: unset !important;
  }
  
}