/*Home*/

section.blog-list h2 {
    background: url(/wp-content/uploads/2019/08/logo2x@2x-1.png) no-repeat top left;
    background-size: contain;
    padding-left: 84px;
    font-weight: 600;
    font-size: 22.4px;
    margin-bottom: 40px;
    height: 84px;
}


.owl-carousel .owl-stage {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 2vw;
}



.owl-carousel .owl-item {
    max-width: 300px;
    margin-right: 0 !important;
    margin: 0;
}

.onsale {
    display: none;
}

.box-links>.cell {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 16%;
}


.box-links>.cell p {
    color: #35545E !important;
    font-weight: 500;
    display: -webkit-box;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

section.listas .hvrbox .hvrbox-layer_top {
    padding: 10px 20px !important;
    background: #35545E;
}

section.listas .hvrbox:hover .hvrbox-layer_top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.listas .col-md-4 {
    padding: 0 20px;
}

section.listas .hvrbox:hover .hvrbox-layer_top .cell {}

section.listas .hvrbox:hover .hvrbox-layer_top .cell p {
    overflow: auto;
    padding: 0;
}


section.listas .hvrbox:hover .hvrbox-layer_top .cell p::-webkit-scrollbar {
    width: 4px;
}


section.listas .hvrbox:hover .hvrbox-layer_top .cell p::-webkit-scrollbar-track {
    background: #f1f1f1;
}


section.listas .hvrbox:hover .hvrbox-layer_top .cell p::-webkit-scrollbar-thumb {
    background: #888;
}


section.listas .hvrbox:hover .hvrbox-layer_top .cell p::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.destaque-carrossel-home button>span {
    font-size: 0;
}


section.destaques-home .icone-educacao,
section.destaques-home .icone-saude,
section.destaques-home .icone-animais,
section.destaques-home .icone-diversos {
    margin: 24px auto 23.5px;
}

.searchtopo i {
    vertical-align: top;
}


section.blog-list h2 {
    margin-bottom: 0px;
    filter: invert(29%) sepia(13%) saturate(1386%) hue-rotate(148deg) brightness(89%) contrast(82%);
}

.blogpost-home {
    margin-top: 37px !important;
}

section.blog-list .post-data{
    min-height: unset;
    height: 400px;
}

/* section.blog-list .post-data {
    height: 470px;
} */



/*Home - Header*/
.header-wrap {
    height: 80px;
    width: 100%;
}

header#masthead {
    position: fixed;
    z-index: 2000;
    height: 80px;
    width: 100%;
}

#searchbox {
    min-height: 80px;
}

a.red-burger {
    background: #ef404a;
    color: #fff;
    padding: 32px;
    position: absolute;
    right: 0;
    z-index: 1;
}

a.red-burger i {
    position: relative;
}

.red-burger i:after {
    /*bite*/
    content: "";
    display: block;
    width: 6px;
    height: 5px;
    background: #ef404a;
    border: none;
    position: absolute;
    bottom: 0px;
    right: -1px;
}


.lateral-icons {
    position: fixed;
    z-index: 2000;
}



section.listas .box-links {
    padding: 0 !important;
    width: 297px;
    height: 280px;
}

section.listas .hvrbox .hvrbox-layer_top {
    height: 280px;
}

/*Header Minicart*/
.dropup-content {
    position: fixed;
    background-color: #ffffff;
    padding: 10px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    width: 320px;
    bottom: 120px;
    z-index: 1;
}

.dropup-content .woocommerce-Price-amount {
    color: #4B5860;
}

.dropup-content #subtotal {
    display: flex;
    justify-content: space-around;
}


.dropup-content .cointainer .row > div:nth-child(2) span{
    font-size: 13px;
    font-weight: 400;
}

.displayCart #producttitle {
    color: #006FB7;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}


.woocommerce a.remove {
    color: #BCBEC0 !important;
}

.displayCart .dropup .dropbtn img{
    filter: invert(28%) sepia(50%) saturate(4855%) hue-rotate(351deg) brightness(104%) contrast(83%);
}

.navbar-brand a img {
    min-width: 161px;
}


ul.flex-direction-nav {
    z-index: 800;
}


/*Footer*/
#footer-widget .container {
    padding-top: 40px;
}

#footer-widget #text-4 input[type="submit"] {
    height: 46px;
    line-height: 1;
    min-width: 85px;
    font-size: 12px !important;
    margin-top: 0px !important;
    text-transform: capitalize !important;
}

#footer-widget #text-4 input[type="email"],
#footer-widget #text-4 input[type="submit"] {
    height: 46px;
}

.logo-banca-footer {
    top: 20px !important;
    min-width: 43px !important;
    height: auto !important;
}


/*Login e Cadastro*/
.login-form-commerce .col-md-7 {
    margin-bottom: 0 !important;
}

#customer_login h2 {
    font-size: 35px !important;
    font-weight: 800 !important;
    margin-top: 112px !important;
    margin-bottom: 0;
}

#customer_login h2 img {
    position: relative !important;
    top: -42px !important;
    left: 50px !important;
}

.woocommerce-form-login .woocommerce-Input,
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row input.input-text {
    padding: 0 0 0 32px !important;
    height: 56px;
    border-radius: 5px !important;
    font-size: 14px !important;
    margin: 7px 0 !important;
    max-width: 400px;
}





/*My Account*/

.woocommerce-account main {
    margin-top: 46px;
}

.woocommerce-account label {    
    font-size: 16px;
    font-weight: 400;
    color: #35545E;
}

.woocommerce-account input {
    height: 40px !important;
}

.woocommerce-account .btn-primary{
    min-width: 320px;
    border-radius: 6px !important;
    background: transparent !important;
    float: right;
}

.woocommerce-account .dropup-content .btn-primary {
    min-width: unset;
}

.woocommerce-account fieldset legend{
    font-size: 24px;
    font-weight: 700;
    color: #35545E;
}


.woocommerce-account h2.obrigado {
    font-size: 42px;
    font-weight: 700;
    color: #EF404A;
    max-width: 290px;
}

.woocommerce-account .intro-account {
    font-weight: 400;
    margin-bottom: 31px;
}

.woocommerce-MyAccount-content > p > a {
    font-weight: 600;
    font-size: 16px;
    color: #6D6E71;
    text-decoration: underline;
}



section.seu-apoio *{
    color: #fff !important;
}


.apoio-tipo-causa,
section.seu-apoio,
.espalhe {
    margin: 70px -40vw 10px;
    width: 110vw;
}

section.seu-apoio .row,
section.apoio-tipo-causa,
section.espalhe{
    padding: 70px 2vw 20px 10vw;
    /* text-align: left; */
}


section.seu-apoio {
    position: relative;
    background: url(../img/bg_dealing-the-universe.png) center bottom no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0;
    min-height: 420px;
}


section.seu-apoio .row {
    width: 100% !important;
    margin: 0 !important;
    background: #0072B5;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

section.apoio-tipo-causa > h3,
section.espalhe h2{
    color: #35545E;
    font-size: 35px !important;
    font-weight: 700 !important;
    text-align: left;
}

section.apoio-tipo-causa .cell h3, .espalhe .cell h2 {
    font-weight: 400;
    font-size: 16px;
    color: #35545E;
    text-align: center;
    margin-bottom: 47.2px;
}

section.apoio-tipo-causa h3 + p {
    font-weight: 700;
    font-size: 36px !important;
    color: #35545E;
}

.espalhe p{
    text-align: left;
}

section.espalhe {
    text-align: left;
}

section.espalhe a {
    border: 2px solid transparent !important;
    margin-left: 0;
    font-weight: 600;
    white-space: nowrap;
    min-width: 152px;
}

section.espalhe a:hover {
    text-decoration: none;
    background: #ef404a !important;
    color: #fff !important;
    border: 2px solid #ef404a !important;
}


section.apoio-tipo-causa {
    margin-top: 0;
    margin-bottom: 100px;
}


.woocommerce-account .site .page-content-banca {
    background: none !important;
}

.woocommerce-account #content .container {
    min-height: 300px;
    padding-bottom: 10%;
}

.woocommerce-orders-table__cell-order-number a {
    line-height: 12px !important;
    font-size: 16px !important;
}

.woocommerce-orders-table__cell-order-date,
.woocommerce-orders-table__cell-order-status {
    line-height: 12px !important;
    font-size: 16px !important;
}

.woocommerce-Price-amount {
    color: #24292e;
}

.woocommerce-orders-table__cell-order-actions a.button {
    margin: 20px 0 20px !important;
    border-radius: 5px !important;
}

.woocommerce-orders-table__cell-order-total {
    font-size: 16px;
}


.woocommerce-MyAccount-navigation li {
    border: none !important;
}

.woocommerce-MyAccount-navigation ul:before{
    content: "Menu";
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
}

.woocommerce-MyAccount-navigation li a,
.woocommerce-MyAccount-navigation ul:before {
    font-size: 16px;
    color: #36545E;
}

section.causa_doados h4 {
    font-size: 26px;
    margin: 0 0 10px 0;
}

section.causa_doados .row .col-md-8 .col-md-4,
section.causa_doados .row .col-md-8 .col-md-4 h4{
    color: #71A52A;
}

section.causa_doados .row .col-md-8 .col-md-4:nth-child(1) {
    padding-left: 32px;
}



/*Institucional*/

header.top-causa {
    background: none;
    padding: 60px 0 0 0;
}

header.top-causa .container {
    background: url(../img/bg_daddy-hold-daughter.png) top center no-repeat;
    background-position: 45vw 45px;
    min-height: 560px;
}

.top-causa h1 {
    font-size: 42px;
    text-align: left;
    font-weight: 800;
    color: #71A52A;
}

header.top-causa h2 {
    color: #6D6E71;
    font-size: 16px;
    line-height: 1.5;
}


.top-causa h2 {
    font-size: 21px;
    text-align: left;
    font-weight: 400;
}

.top-causa p {
    font-size: 16px;
    text-align: left;
    font-weight: 400;
}

.top-causa .row > div:first-child, 
.top-causa .row > div:nth-child(3) {
    display: none;
}

.top-causa .row > div:nth-child(2){
    flex: 0 0 65% !important;
    max-width: 65% !important;
}


.causa_doados > .container > .row > div:first-child {
    display: none;
}

section.causa_doados {
    padding: 0;
    margin-top: -325px;
    padding-bottom: 130px;
}

.single .voltar {
    visibility: hidden;
    opacity: 0;
}


section.causa_doados h3 {
    font-size: 47px;
    color: #35545E;
    margin-bottom: 20px;
}

section.causa_doados h3 span {
    display: none;
}


.causa_doados .row .col-md-8{
    padding: 0;
}



section.causa_doados p {
    font-size: 18px;
    font-weight: 700;
    color: #35545E;
    margin-bottom: 40px;
}

section.causa_doados .row .col-md-8 .col-md-4:nth-child(2) {
    padding-left: 30px;
    /* opacity: 0.3 */
}


.customize-support .botoes-azuis,
.customize-support .botoes-azuis a {
    max-width: 280px !important;
    width: 100%;
}

.customize-support .botoes-azuis p {
    margin: 0 !important;
    font-size: 18px !important;
    font-weight: 600;
    color: #3F4F59 !important;
}


.form-page .wpcf7-submit {
    width: 100% !important;
    padding: 10px !important;
    background: url(../img/aviao_vermelho.png) 30px !important;
    background-repeat: no-repeat !important;
}

.sobre .itens-doados {
    padding-top: 53px !important;
    padding-bottom: 66px !important;
}

.sobre .itens-doados {
    padding-top: 53px !important;
    padding-bottom: 66px !important;
}

.sobre .somos-feitos {
    padding-top: 99px !important;
    padding-bottom: 81px !important;
}

.sobre .podiamos .row {
    padding-top: 97.5px !important;
    padding-bottom: 42.2px !important;
}


.sobre .somos-feitos {
    padding-top: 99px !important;
    padding-bottom: 81px !important;
}


section.causas-ciclo {
    padding-top: 75px !important;
    padding-bottom: 89px !important;
}


.sobre .seu-impacto {
    padding-top: 16px !important;
    padding-bottom: 0 !important;
}


section.institucional {
    padding-top: 69.5px !important;
    padding-bottom: 170px !important;
}

section.causa-numeros {
    padding: 40px 0;
    color: #fff;
    text-align: center;
    background: #f5a41f;
}


section.causa-numeros {
    color: #fff;
    background: #71A52A;
}


section.sua-compra .col-md-6 h2 {
    max-width: 300px;
    margin: 0 auto;
    font-size: 42px;
    text-align: center;
}


section.causa-numeros > .container > .row > a {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    min-width: 200px;
    margin: 30px auto 0;
    text-transform: uppercase;
}


section.sua-compra .col-md-6 h2 {
    font-size: 42px;
    text-align: center;
    color: #35545E;
}


section.sua-compra .col-md-6 > .row > div {
    flex: 0 0 60% !important;
    max-width: 60% !important;
}

section.sua-compra .col-md-6 > .row > div{
    margin: 20px auto 0;
}


/*Página do produto*/
section.mid-produto .woocommerce-Price-amount,
section.mid-produto .woocommerce-Price-currencySymbol {
    color: #3F4F59 !important;
}

section.instituicao h4 {
    line-height: 1.2;
}

p.preco-produto {
    font-weight: 700 !important;
    font-size: 18px !important;
    color: #3F4F59 !important;
}

section.causa-resultado h2,
section.instituicao h2 {
    /* margin-bottom: 17px; */
}

.causa-resultado .imagem-texto>div {
    font-weight: 600;
}

.fazer-diferenca h2 {
    margin-bottom: 58.1px;
}

.fazer-diferenca div p {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}

section.fazer-diferenca a.bt-white {
    padding: 6px 89px;
    border: 2px solid #fff;
    border-radius: 6px;
}

section.fazer-diferenca h2,
section.causa-numeros h2,
h2.white {
    font-weight: 700 !important;
}

.fazer-diferenca div p {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}

section.causa-resultado h2,
section.instituicao h2 {
    color: #3f4f58;
    font-weight: 700;
    margin-bottom: 17px;
    font-size: 42px;
}


.veja-tabela-produto {
    display: none !important;
}






@media screen and (max-width: 768px) {

    /*Mobile*/
    /*Institucional*/
    .customize-support .container {
        padding: 0 10px;
    }

    .customize-support h1 {
        padding-top: 0 !important;
        margin-top: 0 !important;
        font-weight: 600 !important;
    }

    .contato h2 {
        font-size: 35px !important;
        line-height: 1.2 !important;
        margin-top: 100px;
        margin-bottom: 0 !important;
    }

    article .faq .entry-static-p {
        width: 100% !important;
        font-size: 35px !important;
    }

    section.contato {
        /* padding: 0 !important; */
    }

}

@media screen and (max-width: 1024px) {

    /*Tablet and bellow*/
    /*Global*/
    .button,
    .woocommerce a.button,
    .btn-primary {
        margin-top: 40px !important;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 35px;
        line-height: 1.3em;
    }


    /*Home*/
    .navbar-brand {
        padding: 0;
        margin: 0;
    }

    .navbar-brand a img {
        width: 100%;
        height: auto;
        min-width: 161px;
    }

    section.porque-comprar .nav-pills>li>a {
        font-size: 12px !important;
        padding-left: 10px;
        padding-right: 10px;
    }

    section.porque-comprar .nav-pills {
        flex-wrap: nowrap;
    }

    section.porque-comprar .nav-pills>.nav-item {
        max-width: 24vw;
    }

    section.porque-comprar h2 {
        font-size: 27px !important;
    }

    section.blog-list h2 {
        margin-bottom: 0px;
    }

    .blogpost-home {
        margin-top: 23.6px !important;
    }

    .searchtopo i {
        vertical-align: 0;
    }

    section.listas .box-links {
        padding: 0 !important;
        width: 297px;
        height: 280px;
        margin: 0 auto 65px !important;
    }

    section.destaques-home h2 {
        line-height: 25px !important;
        min-width: 300px;
        margin-bottom: 0;
    }

    .product:first-child {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .lateral-icons {
        right: 90px;
    }


    .lateral-icons li:first-child{
        margin-right: 15px;
    }

    /* .product {
        width: 50% !important;
    } 

    section.destaques-home .size-woocommerce_thumbnail {
        max-height: 300px;
        max-width: 100%;
    }*/


    /*Minicart*/
    .dropup-content {
        top: 70px;
        right: 2% !important;
        left: 2%;
        margin: 0 auto;
        width: 90%;
        max-height: 80vh;
    }

    .dropup-content span a.btn-primary {
        margin-top: 10px !important;
        width: 100%;
    }

    .dropup-content > div:nth-child(4) {
        margin: 20px auto;
    }

     .dropup-content div:nth-child(4) > div {
        float: left;
        width: 50%;
        padding: 0 8px;
     }

     .displayCart #producttitle {
        text-transform: initial !important;
        padding: 10px 0 10px 10px;
    }

    .dropup-content .cointainer {
        overflow: auto;
        height: 50vh;
    }
    
     .dropup-content .cointainer .row {
         margin: 20px 0;
     }

    .dropup-content .cointainer .row > div:nth-child(1),
    .dropup-content .cointainer .row > div:nth-child(2),
    .dropup-content .cointainer .row > div:nth-child(3){
        float: left;
    }

    
    .dropup-content .cointainer .row > div:nth-child(1) {
        width: 20px;
        height: 25px;
        padding: 0;
        padding-left: 0;
        margin: 0;
        margin-top: 10px;
        transform: scale(1.3);
    }

    .dropup-content .cointainer .row > div:nth-child(1) button{
        padding: 0;
        width: 20px;
        height: 20px;
    }

    .dropup-content .cointainer .row > div:nth-child(2) {
        width: 62%;
        padding: 0;
    }

    .dropup-content .cointainer .row > div:nth-child(3) {
        width: 29%;
        max-width: 92px;
        padding: 0;
    }

    .dropup-content .cointainer .row > div:nth-child(3) a {
        padding: 0;
    }





    /*Footer*/
    #footer-widget #text-4 input[type="submit"] {
        margin-top: 0px !important;
    }

    #footer-widget #text-4 input[type="email"],
    #footer-widget #text-4 input[type="submit"] {
        height: 46px;
    }

    #footer-widget .row>div {
        padding-right: 0;
    }

    #footer-widget .row :nth-child(4) {
        border-bottom: none !important;
    }

    #footer-widget .textwidget .row{
        margin: 0 !important;
    }

    #footer-widget .textwidget form {
        overflow: auto;
    }

    
    .social i {
        padding-right: 15px;
    }


    /*Institucional*/
    .contato-page {
        background: unset !important;
    }

    /*.page-template .site .page-content-banca {
        background: #ffffff url(../img/bg-city-mobile.png) !important;
        background-repeat: repeat-x !important;
        background-position: 0 80px !important;
    } */

    .contato .form-page {
        background: #fff !important;
        border-radius: 20px !important;
        padding: 40px 0px !important;
        margin-bottom: 120px !important;
    }

    .lateral-page {
        padding-bottom: 10%;
    }

    .accordion-perguntas {
        margin-bottom: 47px !important;
    }

    .contato .form-page .wpcf7-submit {
        background: url(../img/aviao_vermelho.png) 70px !important;
        background-repeat: no-repeat !important;
    }

    .customize-support .contato .form-page {
        margin-bottom: 40px !important;
    }

    .customize-support .endereco>* {
        text-align: left !important;
        color: #35545E;
    }

    .customize-support .endereco>h5 {
        font-size: 25px;
    }

    .entry-static-p,
    header.top-sobre h1 {
        text-transform: initial !important;
        font-size: 35px !important;
        width: 80% !important;
    }


    /*Login e Cadastro*/
    .login-form-commerce div {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .woocommerce-form-login {
        width: 100% !important;
    }


    /*Página do produto*/
    .product-price-details {
        flex-direction: column !important;
    }


    /*My Account*/
    .apoio-tipo-causa,
    section.seu-apoio,
    .espalhe {
        margin: 0 -3vw;
        width: 100vw;
    }

    section.seu-apoio .row,
    section.apoio-tipo-causa,
    section.espalhe{
        padding: 0 20px;
        /* text-align: left; */
    }

    section.seu-apoio {
        background: none;
        overflow: auto;
    }

    section.seu-apoio .row {
        z-index: 0;
        position: relative;
    }

    section.apoio-tipo-causa h3, .espalhe h2 {
        margin-bottom: 17.2px;
        font-size: 24px;
    }

    section.apoio-tipo-causa .row .row > div {
        width: 50%;
        flex-wrap: nowrap;
    }

    section.apoio-tipo-causa .cell h3,
    .espalhe .cell h2 {
        color: #6D6E71;
        text-align: center;
    }

    section.apoio-tipo-causa h3 + p {
        color: #6D6E71;
        margin-bottom: 0;
    }

    .woocommerce-MyAccount-navigation ul{
        padding: 0 5px;
    }

    .woocommerce-account .intro-account {
       font-size: 16px;
    }

    section.apoio-tipo-causa .cell h3,
    .espalhe .cell h2 {
        margin-bottom: 15.2px;
    }

    section.espalhe a {
        width: 45%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 10px;
    }
}