@import url("https://fonts.googleapis.com/css?family=Encode+Sans:300,400,500,600,800&display=swap");

body {
  font-family: "Encode Sans", sans-serif !important;
  color: #666 !important;
  font-size: 16px !important;
}

#content.site-content {
  padding-top: 0 !important;
}

a {
  color: #e9432c;
}

a:hover {
  color: #e9432c;
  text-decoration: none;
}

h2 {
  font-size: 48px;
}

h2.green {
  color: #73a534;
}

h2.purple {
  color: #763f98;
}

h2.yellow {
  color: #faa61e;
}

h2.blue {
  color: #0072b5;
}

a.bt-white-red {
  background: #fff;
  color: #f23e45;
  border-radius: 10px;
  padding: 10px 25px;
  border: 2px solid #f23e45;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 90px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

a.bt-white-red:hover {
  background: #f23e45;
  color: #fff;
  text-decoration: none;
}

a.bt-red {
  background: #f23e45;
  color: #fff;
  border-radius: 10px;
  padding: 10px 45px;
  text-transform: uppercase;
  border: 2px solid #e9432c;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}

a.bt-red:hover {
  background: #fff;
  color: #f23e45;
  text-decoration: none;
}

.navbar-toggler {
  position: absolute;
  top: 30px;
  display: none;
}

.navbar-toggler strong {
  color: #e6ddcc;
  font-size: 14px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 400;
}

span.navbar-toggler-icon {
  background: none !important;
  background-image: none !important;
  color: #e6ddcc;
  width: 70px;
}

header#masthead {
  box-shadow: none !important;
  background-color: #fff !important;
  max-height: 90px;
  border-bottom: 1px solid #e1e1e1;
}

.navbar {
  font-family: "Encode Sans", sans-serif;
}

/* #masthead ul.navbar-nav{
	margin: 30px 0 23px !important;
} */

#masthead ul.navbar-nav li a.nav-link {
  color: #4b5860 !important;
  font-family: "Encode Sans", sans-serif;
  font-size: 14px;
  font-weight: 800 !important;
  padding: 0.5rem 3rem !important;
}

#masthead ul.navbar-nav li a.nav-link:hover {
  color: #ef404a;
}

a.red-burger {
  background: #ef404a;
  color: #fff;
  padding: 33px;
  position: absolute;
  right: 0;
}

#menufullscreen {
  height: 100%;
  position: absolute;
  background: #ef404a;
  z-index: 999;
  width: 100%;
}

#menufullscreen .col-md-6 {
  margin-top: 15%;
}

#menufullscreen #fullscreen-nav ul li a.nav-link {
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  font-weight: 400;
}

#menufullscreen #small-nav ul li a.nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

#menufullscreen #close {
  color: #fff;
  right: 20px;
  position: absolute;
  top: 20px;
}

#small-nav ul li:first-child {
  font-weight: bold;
}
#small-nav ul li:nth-child(5) {
  margin-top: 40px;
  font-weight: bold;
}

#searchbox {
  position: absolute;
  background: #F23E45;
  width: 95%;
  z-index: 998;
  min-height: 79px;
  padding: 12px 250px;
}

#searchbox label {
  width: 50%;
}

#searchbox .search-field {
  font-size: 24px;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #fff;
}

#searchbox .search-field::placeholder {
  color: #fff;
}

#searchbox .search-submit {
  width: 40px;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0;
  height: 40px;
}

#searchbox .campo i {
  float: left;
  margin-top: 7px;
  color: #fff;
  margin-right: 10px;
}

#searchbox #close {
  color: #fff;
  right: 20px;
  position: absolute;
  top: 20px;
}

.tab-content h2 {
  font-size: 40px !important;
  font-weight: 600 !important;
}

.searchtopo {
  margin-top: -25px;
  margin-right: 20px;
}

.displayCart #producttitle {
  display: block;
  color: #4b5860;
  font-size: 14px;
}

.displayCart .dropdown-content {
  margin-left: -100px;
  z-index: 10 !important;
}

/* PRODUTO */

ul.flex-direction-nav {
  position: absolute;
  top: 40%;
  z-index: 99999;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0px;
  list-style: none;
}

li.flex-nav-prev {
  float: left;
}
li.flex-nav-next {
  float: right;
}
a.flex-next {
  visibility: hidden;
}
a.flex-prev {
  visibility: hidden;
}

a.flex-next::after {
  visibility: visible;
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  background: url("../img/nav-right.png") center center no-repeat;
  padding: 20px 25px;
}
a.flex-prev::before {
  visibility: visible;
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  background: url("../img/nav-left.png") center center no-repeat;
  padding: 20px 25px;
}
ul.flex-direction-nav li a {
  color: #ccc;
}
ul.flex-direction-nav li a:hover {
  text-decoration: none;
}

.product h2 {
}

section.top-produto {
  background: url("../img/bg-top-produto.jpg") bottom center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 50px 0 60px 0;
  margin-bottom: 40px;
}

section.top-produto a.voltar {
  color: #fff;
  font-size: 14px;
}

section.top-produto a.link-embaixador {
  display: block;
  float: right;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
  background: url("../img/line-embaixador.png") bottom right no-repeat;
}

section.top-produto .col-md-5,
section.top-produto .col-md-7 {
  margin-top: 50px;
}

section.top-produto .col-md-7 {
  padding-top: 40px;
}

section.top-produto h1 {
  background: url("../img/line-title-produto.png") bottom left no-repeat;
  padding-bottom: 25px;
  margin-bottom: 30px;
  margin-top: 40px;
  color: #fff;
  font-size: 46px;
  text-transform: uppercase;
  border-bottom: 0 !important;
}

section.top-produto p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 40px;
}

section.top-produto .woocommerce-product-details__short-description {
  max-height: 85px;
  overflow: hidden;
}

section.top-produto .dica-causa {
  padding-left: 80px;
  padding: 0 20px 0 120px;
  text-align: center;
}

section.top-produto .dica-causa h3 {
  color: #faa61e;
  font-size: 21px;
  font-weight: normal;
  background: url("../img/aspas-vocesabia.png") top right no-repeat;
}

section.top-produto h4,
section.top-produto h4 a {
  color: #faa61e;
  font-size: 18px;
  text-transform: uppercase;
}

section.top-produto h4,
section.top-produto h4 a:hover {
  color: #faa61e;
}
section.top-produto .dica-causa p {
  padding-bottom: 15px;
  background: url("../img/line-vocesabia.png") bottom center no-repeat;
}

section.top-produto a.see-pages {
  font-weight: bold;
  color: #0072b5;
  font-size: 18px;
  text-decoration: underline;
}

section.top-produto .woocommerce-product-gallery {
  width: 90% !important;
}

section.top-produto .flex-control-thumbs {
  display: none;
}

section.mid-produto h1,
section.mid-produto .woocommerce-product-details__short-description,
section.mid-produto .stock,
section.mid-produto .flex-control-thumbs {
  display: none;
}

section.mid-produto h5 {
  color: #3f4f59;
}

section.mid-produto .price {
  color: #000 !important;
  font-size: 42px !important;
}

section.mid-produto .woocommerce-Price-amount, section.mid-produto .woocommerce-Price-currencySymbol {
  color: #000 !important;
  font-size: 42px !important;
  font-family: 'Encode Sans', sans-serif !important;
}

section.mid-produto .woocommerce-Price-currencySymbol{
  margin-right: 10px;
}

section.mid-produto .woocommerce .quantity .qty {
  padding: 7px 0;
  border: 0;
}

.woocommerce button.button.alt {
  background: #ef404a;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

section.mid-produto .bg-mid-produto {
  background: #f1f1f1;
  height: 600px;
  position: absolute;
  top: 1350px;
  z-index: -2;
  width: 100%;
  left: 0;
}

section.embalagem {
  padding: 70px 0;
  background: #fff;
}

section.embalagem h3 {
  color: #3f4f59;
}

section.embalagem .col-md-4 a.woosq-btn {
  background: transparent !important;
  
}

section.embalagem .col-md-8 a.woosq-btn {
  padding: 15px 30px !important; 
}

section.detalhes-tecnicos {
  background: #EFF0F0;
  padding: 70px 0;
  margin-bottom: -3.75rem;
}

section.detalhes-tecnicos h2 {
  color: #3f4f59;
  font-weight: 800;
  margin-bottom: 40px;
}

section.fazer-diferenca {
  background: #79318F;
  padding: 60px 0;
  color: #fff;
  text-align: center;
}

section.fazer-diferenca p {
  color: #fff !important;
}

section.fazer-diferenca img {
  max-height: 43px;
  margin-bottom: 10px;
}

section.fazer-diferenca h2,
section.causa-numeros h2,
h2.white {
  font-size: 42px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 0;
}

section.fazer-diferenca a.bt-white {
  display: inline-block;
  padding: 10px 100px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 40px 0;
}

section.causa-resultado {
  font-size: 38px;
  font-weight: normal;
  padding: 100px 0;

}

section.causa-resultado .col-12{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.causa-resultado img{
  margin-bottom: 23px;
}

section.causa-resultado p{
  width: 50%;
}

section.causa-resultado .imagem-texto{
  display: flex; 
}

section.causa-resultado .imagem-texto .item-2{
  margin: 0 10px;
}

@media(max-width: 1024px){
  section.causa-resultado p{
    width: 100%;
  }

  section.causa-resultado .imagem-texto{
    display: flex;
    flex-direction: column;
  }
}

section.causa-resultado .col-6 {
  float: right;
}

section.causa-resultado h2,
section.instituicao h2 {
  color: #e9432c;
  font-weight: 800;
  margin-bottom: 40px;
  font-size: 30px;
}

section.porque-comprar .col-md-7 h2.red,
section.porque-comprar p {
  color: #35545e;
  font-weight: 400 !important;
  margin-bottom: 20px;
  font-size: 18px !important;
  line-height: 18pt;
  text-transform: initial !important;
}

section.porque-comprar p {
  margin-bottom: 30px !important;
}

#tab-saude p {
  color: #000;
}

section.causa-resultado p {
  font-size: 14px;
}

section.causa-numeros {
  padding: 80px 0;
  color: #fff;
  text-align: center;
  background: #f5a41f;
}

section.causa-numeros h3 {
  font-size: 44px;
  color: #fff;
  margin: 25px 0 0 0;
  font-weight: 600;
  line-height: 60px;
}
section.divisao {
  background: url("../img/bg_graph.png") top center no-repeat;
  padding: 80px 0;
}

section.divisao .col-12 {
  text-align: center;
}

section.divisao h2 {
  color: #3f4f59;
  font-weight: 800;
}

section.instituicao {
  padding: 80px 0;
}

section.instituicao h4 {
  font-size: 26px;
  font-weight: 800;
  color: #3f4f59;
}

section.instituicao h5 a {
  font-size: 27px;
  color: #3f4f59;
  font-weight: 800;
}

section.instituicao .logo-b {
  text-align: center;
  padding-top: 12%;
}

.single-product div.quantity {
  display: inline-block !important;
}

.single-product button.button {
  margin-top: 0 !important;
  background: #ef404a !important;
  color: #fff !important;
}

.single-product .sku_wrapper,
.single-product .posted_in,
.product_meta h3 {
  display: none;
}

.single-product .product_meta {
  background: #763f98;
  padding: 15px;
  border-radius: 15px;
  color: #fff !important;
}

.single-product .product_meta table {
  margin-top: 20px !important;
  text-align: center;
}

.single-product .product_meta table td {
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.single-product .product_meta table .woocommerce-Price-amount {
  color: #fff;
  font-size: 16px !important;
}

.single-product .woobt_wrap h4 {
  color: #3f4f59;
  font-size: 16px;
  margin: 60px 0 20px 0;
}

/* IMPACTO */

header.top-impacto {
}

header.top-impacto h1 {
  color: #4b5860;
  font-weight: 800;
}

header.top-impacto h2 {
  color: #4b5860;
}

header.top-impacto .col-md-6 {
  padding-left: 100px;
}

section.causas-apoio {
  padding: 50px 0 0 0;
}

section.causas-apoio .col-12 {
  margin: 100px 0 50px 0;
}

section.causas-apoio .col-12 .row .col-md-3 {
  overflow: visible !important;
}

section.causas-apoio .col-12 .row .col-md-3 .bt-white-red {
  display: block;
  margin-top: 10px;
  color: #e90000 !important;
}

section.causas-apoio .col-12 .row .col-md-3 .bt-white-red:hover {
  color: #fff !important;
}

section.causas-apoio .col-12 .row .col-md-3 article {
  color: #000;
  display: table;
  height: 320px;
  width: 100%;
  border: 1px solid #eee;
}

section.causas-apoio .col-12 .row .col-md-3 article .cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* HOVERBOX ----------------------- */
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: visible;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  height: 308px;
  background: #fff;
  color: #4a4a4a;
  padding: 30px 35px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  display: table;
  text-align: center;
  box-shadow: 0px 0px 5px 4px #ccc;
  z-index: 10;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox-layer_top h3 {
  color: #4a4a4a !important;
  margin-bottom: 5px;
}

.hvrbox .hvrbox-layer_top p {
  font-weight: 400;
  color: #4a4a4a;
  font-size: 16px;
  padding-bottom: 15px;
}

.hvrbox .hvrbox-layer_top a {
}

/*---------*/

section.causas-apoio .col-md-6:nth-child(2) {
  padding-top: 200px;
}

section.causas-ciclo {
  padding: 50px 0;
}

section.causas-ciclo .col-md-6 {
  margin-bottom: 40px;
}

section.porque-comprar {
  padding: 80px 0;
}

section.porque-comprar h2 {
  text-transform: uppercase;
  margin-bottom: 10px;

  margin-top: 10px;
}

section.porque-comprar h3 {
  /* font-size:20px;
    font-weight:800;
    margin-bottom:0; */
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 0;
  color: #f23e45;
  line-height: 32pt;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

section.porque-comprar .col-md-7 {
  padding-right: 240px;
  background: url("../img/family.png") top right no-repeat;
}

section.porque-comprar h2,
section.porque-comprar .col-md-4 h2 {
  font-weight: 800;
}

section.porque-comprar .col-md-7 h2 {
  /* font-size:30px !important; 
    font-size: 18px;
    color: #3F4F59;
    font-weight: 600;
    line-height: 18pt;
    text-transform: unset;*/
}

section.porque-comprar .col-md-5 .nav-pills > li.active > a,
section.porque-comprar .col-md-5 .nav-pills > li.active > a:focus,
section.porque-comprar .col-md-5 .nav-pills > li.active > a:hover {
}

section.porque-comprar .nav-pills > li > a {
  color: #dce0ea !important;
  padding-top: 50px;
  background: #fff !important;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

section.porque-comprar .nav-pills > li > a.green {
  background: url("../img/ico_saude_cinza.png") top center no-repeat !important;
}

section.porque-comprar .nav-pills > li > a.purple {
  background: url("../img/ico_educacao_cinza.png") top center no-repeat !important;
}

section.porque-comprar .nav-pills > li > a.yellow {
  background: url("../img/ico_animais_cinza.png") top center no-repeat !important;
}

section.porque-comprar .nav-pills > li > a.blue {
  background: url("../img/ico_diversos_cinza.png") top center no-repeat !important;
}

section.porque-comprar .nav-pills > li > a:hover,
section.porque-comprar .nav-pills > li > a.active {
  font-weight: bold;
  text-transform: uppercase;
}

section.porque-comprar .nav-pills > li > a.green:hover,
section.porque-comprar .nav-pills > li.active > a.green,
section.porque-comprar .col-md-5 .nav-pills > li > a.green.active {
  color: #73a534 !important;
  background: url("../img/ico_saude_color.png") top center no-repeat !important;
}

section.porque-comprar .nav-pills > li > a.purple:hover,
section.porque-comprar .nav-pills > li.active > a.purple {
  color: #763f98 !important;
  background: url("../img/ico_educacao_color.png") top center no-repeat !important;
}

section.porque-comprar .nav-pills > li > a.yellow:hover,
section.porque-comprar .nav-pills > li.active > a.yellow {
  color: #faa61e !important;
  background: url("../img/ico_animais_color.png") top center no-repeat !important;
}

section.porque-comprar .nav-pills > li > a.blue:hover,
section.porque-comprar .nav-pills > li.active > a.blue {
  color: #0072b5 !important;
  background: url("../img/ico_diversos_color.png") top center no-repeat !important;
}

section.impacto-marcas {
  text-align: center;
  padding: 50px 0;
}

section.impacto-marcas ul li {
  list-style-type: none;
  display: inline-block;
  padding: 30px;
}

.woobt-product .woobt-quantity,
.woobt-products .woobt-product .variations_form .variations .variation .label {
  display: none;
}

.woobt-products .woobt-product .woobt-thumb,
.woobt-products .woobt-product .woobt-thumb img {
  width: 95px !important;
  height: auto;
}

.woobt-products .woobt-product .variations_form .variations .variation {
  float: left !important;
  min-width: 40px !important;
  margin-top: 20px;
}

.woobt-product select {
  margin: 0;
}

.woobt-product .woobt-title a {
  float: left;
  width: 40%;
  margin-top: 20px;
  color: #3f4f59;
  font-weight: 800;
}

.woobt-product .variations_form {
  float: left;
  width: 55%;
}

/* CAUSAS */

header.top-causa {
  background: url("../img/bg-top-causa.jpg") top center no-repeat;
  background-size: cover;
  padding: 220px 0 115px 0;
}

header.top-causa h2 {
  color: #4b5860;
  margin: 0;
}

a.voltar {
  display: block;
  max-width: 1140px;
  width: 100%;
  padding-left: 23px;
  color: #e9432c;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 10px auto;
  font-size: 15px;
}

a.voltar:hover {
  text-decoration: none;
}

.top-causa h1 {
  font-size: 55px;
  text-align: center;
  font-weight: 800;
  color: #4b5860;
}

.top-causa h2 {
  font-size: 21px;
  text-align: center;
  font-weight: 400;
}

section.causa_doados {
  padding: 70px 0;
}

section.causa_doados h3 {
  font-size: 65px;
  color: #79318f;
  margin-bottom: 0;
}

section.causa_doados p {
  font-size: 21px;
}

section.causa_doados h3 span {
  font-size: 16px;
}

section.causa_doados h4 {
  font-size: 24px;
  margin: 0;
}

section.ongs_apoiadas {
  padding: 0 0 50px 0;
  text-align: center;
}

section.ongs_apoiadas ul li.marca-ong {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
  margin-bottom: 30px;
}

section.sua-compra .row {
  max-width: 100% !important;
}

section.sua-compra .row .col-md-3 {
  padding: 0 !important;
}

section.sua-compra .col-md-6 {
  background: #efefef;
  padding: 0 30px;
  font-size: 18px;
}

section.sua-compra .col-md-6 h2 {
  font-size: 42px;
  text-align: center;
}

section.sua-compra .col-md-6 .margin {
  margin: 20px 0;
}

section.causas-produtos {
  padding: 50px 0;
}

section.causas-produtos a {
  display: block;
  width: 40%;
  margin: 30px auto;
  text-align: center;
}

/* BUSCA */

.search header h1 {
  text-align: center;
  font-size: 48px;
}

.search header h3 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.search-result {
  margin-bottom: 30px;
}

.search-result article {
  background: #efefef;
  padding: 20px;
}

.search-result .entry-header {
  max-height: 40px;
  overflow: hidden;
}

.search-result h2 {
  font-size: 22px;
  color: #e9432c;
  text-align: left;
  margin-top: 0;
}

.search-result .entry-summary {
  max-height: 100px;
  min-height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}

.search-result a {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.search-result .row .col-md-6 {
  text-transform: uppercase;
}

section.bottom-busca {
  background: #f3f3f3;
  text-align: center;
  padding: 70px 0;
  margin-top: 50px;
}

section.bottom-busca .search-container {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #e9432c;
}

section.bottom-busca .search-container label {
  margin-bottom: 0;
}

section.bottom-busca .search-container input {
  border: 0;
}

section.bottom-busca .search-container input[type="submit"] {
  background: #e9432c;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
}

section.bottom-busca p {
  margin-top: 150px;
}

section.bottom-busca .search-container i {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
}

/* LISTAGEM DE PRODUTO */

section.top-categoria {
  padding: 50px 0;
  background: #f1f1f1;
}

section.top-categoria input {
  border: 0;
  box-shadow: none;
}

section.top-categoria label {
  margin-bottom: 0;
  width: 55%;
}

section.top-categoria .search-container {
  width: 370px;
  margin: 20px 0;
  padding: 10px;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #e9432c;
}

section.top-categoria .search-container i {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

section.top-categoria .search-container input[type="submit"] {
  background: #e9432c;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
}
section.categoria-filtros {
  position: relative;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 20px auto;
    flex-wrap: nowrap;
}

section.categoria-filtros a {
  display: inline-block;
  color: #0072B5;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
}

section.categoria-produtos {
  padding: 25px 0 50px;
}


section.categoria-produtos .col-md-2 .cat-parent {
  margin-top: 15px;
}
section.categoria-produtos .hvrbox .hvrbox-layer_top .bottom-hover-loop .col-md-6 {
  width: 100%!important;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 100%;
}
section.categoria-produtos .hvrbox .hvrbox-layer_top .woocommerce-Price-amount {
  color: #4B5860!important;
  font-size: 25px !important;
}
section.categoria-produtos .hvrbox .hvrbox-layer_top a {
  display: block;
  background: #fff;
  border-radius: 5px;
  color: #EF404A!important;
  padding: 5px 15px;
  margin: 5px auto;
  width: 65%!important;
  text-align: center;
  border: 2px solid #EF404A;
  font-size: 12px;
}
section.categoria-produtos .hvrbox .hvrbox-layer_top .bottom-hover-loop .alerta {
  background: url(../img/alert.png) no-repeat 15px 2px;
  color: #808285!important;
  font-size: 12px;
  background-size: 15px;
  text-indent: 20px;
  line-height: 13pt;
  margin-top: 15px;
}

section.categoria-produtos .col-md-2 a {
  color: #3F4F59;
  font-weight: 600;
  font-size: 18px;
}

section.categoria-produtos .col-md-2 li ul.children a {
  font-weight: 400;
  margin-top: 0;
  font-size: 16px;
  color: #36545E;
  padding-bottom: 0;
}

section.categoria-produtos .woocommerce-result-count {
  display: none;
}

section.categoria-produtos .woocommerce-ordering select {
  border: 0;
}

li.product {
  text-align: center;
}

.widget_product_categories ul {
  margin: 0 !important;
}

.woocommerce-loop-product__title {
  color: #4b5860;
  font-size: 18px;
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
}

.woocommerce-Price-amount {
  color: #4B5860;
  font-size: 20px !important;
  font-weight: 600;
  display: inline-block;
}


.button,
.woocommerce a.button,
.btn-primary {
  background: #fff !important;
  color: #e9432c !important ;
  border-radius: 10px !important;
  padding: 10px 10px !important;
  text-transform: uppercase !important;
  border: 2px solid #e9432c !important;
  font-weight: bold !important;
  margin-top: 80px !important;
}


.checkout-button {
  font-size: 16px !important;
  padding: 20px 10px !important;
}

.button:hover,
.woocommerce a.button:hover,
.btn-primary:hover {
  background: #e9432c !important;
  color: #fff !important;
}

.woosq-btn {
  text-indent: -9999px;
  border-radius: 10px;
  border: 0;
  padding: 12px;
  width: 40px;
  margin-left: 7px;
  background: url("../img/look.png") no-repeat center center #e9432c;
  display: none;
}

.icone-educacao {
  color: #a77db4;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  min-height: 40px;
}

.icone-educacao img {
  max-width: 16px !important;
}

.icone-saude {
  color: #73a534;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  min-height: 40px;
}

.icone-saude img {
  max-width: 16px !important;
}

.icone-animais {
  color: #faa61e;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  min-height: 40px;
}

.icone-animais img {
  max-width: 26px !important;
}

.icone-diversos {
  color: #0072b5;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  min-height: 40px;
}

.icone-diversos img {
  max-width: 28px !important;
}

.icone-educacao img,
.icone-saude img,
.icone-animais img,
.icone-diversos img {
  display: inline-block !important;
  margin: 0 !important;
}

section.banner-lista {
}

section.banner-lista h3 {
  font-size: 36px;
  color: #e90000;
  line-height: 40px;
  margin-bottom: 10px;
}

section.banner-lista h4 {
  margin-top: 5px;
}

section.banner-lista a {
  color: #e90000;
}

/* CHECKOUT */

.checkout-button:hover {
  background: #fff !important;
  color: #e9432c !important ;
}

.woocommerce-info {
  border-top-color: #763f98 !important;
}

.woocommerce-info::before {
  color: #763f98 !important;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #e9432c;
}

.woocommerce-input-wrapper {
  width: 69%;
}

label.control-label {
  width: 30%;
}

.woocommerce form .form-row-wide,
.woocommerce-page form .form-row-wide {
  width: 47%;
}

/* LOGIN */

form.woocommerce-form-login {
  width: 50%;
  border: 0 !important;
  margin: 0 auto !important;
}

.woocommerce-form-login p.woocommerce-form-row {
  width: 80%;
}

.woocommerce-form-login .woocommerce-button {
  background: #e9432c !important;
  color: #fff !important;
  border-radius: 10px;
  padding: 10px 25px;
  text-transform: uppercase;
  border: 2px solid #e9432c !important;
  font-weight: bold;
  width: 80%;
}

.woocommerce-form-login .woocommerce-button:hover {
  background: #fff !important;
  color: #e9432c !important;
}

#post-9 .woocommerce-notices-wrapper h2 {
  text-align: center !important;
}

#post-9 h1 {
  display: none;
}

/* MINHA CONTA */

.woocommerce-MyAccount-navigation li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}

h2.obrigado {
  font-size: 70px;
  font-weight: 400;
  color: #763f98;
}

section.seu-apoio {
  padding: 50px 0;
  background: url("../img/istockphoto-1127279984-1024x1024.jpg") center bottom no-repeat;
  background-size: 60%;
}

section.seu-apoio .col-md-4:nth-child(3) {
  padding-top: 40px;
}

section.seu-apoio span.total {
  font-size: 45px;
  color: #73a534;
  padding-top: 20px;
}

section.seu-apoio span.qtdade {
  font-size: 32px;
  color: #763f98;
}

section.apoio-tipo-causa {
  text-align: center;
  padding: 50px 0;
}

section.apoio-tipo-causa h3 {
  color: #763f98;
}

section.apoio-tipo-causa p {
  font-size: 21px;
}

section.apoio-tipo-causa img {
  max-height: 46px;
  margin-top: 15px;
}

section.espalhe {
  text-align: center;
}

section.espalhe a {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 15px;
  color: #fff;
}

section.espalhe a:hover {
  text-decoration: none;
  background: #763f98 !important;
}

section.espalhe a.facebook {
  background: #3b5998;
}

section.espalhe a.twitter {
  background: #00aced;
}

section.espalhe a.linkedin {
  background: #007bb6;
}

section.espalhe a.pinterest {
  background: #cb2027;
}

section.espalhe a.whatsapp {
  background: #34af23;
}

/* HOME */

header.banner-home {
  color: #fff;
  text-align: center;
}

header.banner-home h1 {
  /* font-size:60px !important; */
  font-size: 48px !important;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600 !important;
  /* line-height:64px !important; */
  line-height: 40pt !important;
  top: 96px;
}

header.banner-home .bt-white {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 20px;
  display: inline-block;
}

header.banner-home .bt-white:hover {
  color: #0072b5;
  background: #fff;
  text-decoration: none;
}

section.destaques-home {
  padding: 80px 0;
}

section.destaques-home.carrossel-produtos-home {
  border-top: 3px dashed #0072b5;
}

/*Texto principal section*/
section.destaques-home h2 {
    color: #4b5860;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    width: 90%;
    margin: 0 auto 40px;
    line-height: 30pt;
    font-size: 30px;
}

section.destaques-home h2.woocommerce-loop-product__title {
  font-size: 18px;  
  margin: 80px auto 0;
}

section.destaques-home ul li {
  width: 32%;
  list-style: none;
  display: inline-block;
  overflow: visible;
  position: relative;
  margin-bottom: 45px;
}

section.destaques-home ul li a.woocommerce-loop-product__link {
  display: block;
}

section.destaques-home a.button {
  display: block;
    width: 65%;
    margin: 10px auto!important;
    color: #EF404A!important;
    border-color: #EF404A!important;
    font-size: 12px;
}

section.destaques-home  .icone-educacao,
section.destaques-home  .icone-saude,
section.destaques-home  .icone-animais,
section.destaques-home  .icone-diversos
 {
  position: absolute;
  top: 325px;
  width: 100%;
  top: 330px;

}
section.destaques-home span.price {
  display: block;
}

section.destaques-home .owl-nav .owl-prev {
  float: left;
  margin-top: -35%;
  margin-left: -40px;
  background: url("../img/nav-left.png") center center no-repeat !important;
  height: 30px;
  width: 30px;
  color: transparent;
}

section.destaques-home .owl-nav .owl-next {
  float: right;
  margin-top: -35%;
  margin-right: -40px;
  background: url("../img/nav-right.png") center center no-repeat !important;
  height: 30px;
  width: 30px;
  color: transparent;
}

section.destaques-home .size-woocommerce_thumbnail {
  max-height: 300px;
  max-width: 300px;
}

section.listas {
  padding: 100px 0;
  background: url("../img/bg_olhadinha.png") no-repeat 900px 180px #ef404a;
  color: #fff;
}

section.listas .col-md-8 {
  padding-left: 40px;
  padding-right: 60px;
}

section.listas h2 {
  color: #fff;
  text-transform: uppercase;
  /* font-weight:800;
    font-size:42px; */
  font-weight: 600;
  font-size: 35px;
  line-height: 32pt;
}

section.listas p {
  color: #fff;
  margin-bottom: 50px !important;
}

section.listas .col-md-4 {
  padding: 0 40px;
}

section.listas .box-links {
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 35px 0;
  margin-bottom: 65px;
  color: #000;
}

section.listas .box-links h3 {
  color: #ef404a;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px 0 15px;
  font-weight: 600;
}

section.listas .box-links p {
  color: #000 !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
}
section.listas .box-links p img {
  margin-bottom: 25px;
}

section.listas .box-links a {
  color: #e90000;
  display: block;
}

section.listas .box-links a.link-mais {
  color: #ef404a;
  text-decoration: underline;
}

section.porque-comprar {
}

section.blog-list {
  padding: 0 0 100px 0;
}

section.blog-list h2 {
  background: url("/wp-content/uploads/2019/08/logo2x@2x-1.png") no-repeat top left;
  padding-left: 120px;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 40px;
  height: 120px;
}

section.blog-list .post-image {
  min-height: 200px;
  border-radius: 10px;
}

section.blog-list .post-data {
  background: #fff;
  margin-top: -15px;
  border-radius: 10px;
  border: 1px solid #f1eeee;
  padding: 0 25px;
  min-height: 175px
}

section.blog-list .post-data h3 {
  /* font-weight: 800; */
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

section.blog-list .post-data h5 {
    font-size: 12px;
    color: #6d6e71;
    text-transform: uppercase;
    margin: 25px 0;
}

.woman-bottom {
  position: absolute;
  z-index: -5;
  right: 10%;
}

/* HOVERBOX LISTAS ----------------------- */
section.listas .hvrbox * {
  box-sizing: border-box;
}
section.listas .hvrbox {
  position: relative;
  display: block;
  overflow: visible;
  max-width: 100%;
  height: auto;
  min-height: 281px;
}

section.listas .hvrbox .hvrbox-layer_bottom {
  display: block;
}
section.listas .hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0072b5;
  border-radius: 4px;
  width: 100%;
  box-shadow: none;
  color: #fff;
  padding: 20px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  text-align: left;
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

section.listas .hvrbox .hvrbox-layer_top a {
  width: 100% !important;
}

section.listas .hvrbox .hvrbox-layer_top a:hover {
  text-decoration: none !important;
  color: #fff !important;
}
section.listas .hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

section.listas .hvrbox-layer_top h3 
{
  color: #fff !important;
  font-weight: 500;
    font-size: 24px;
    line-height: 29px;

}
section.blog-list .hvrbox-layer_top h5 {
    font-size: 12px;
    color: #fff !important;
    text-transform: uppercase;
    margin: 25px 0!important;
  
    
  }

section.listas .hvrbox-layer_top h5 {
  font-weight: 400;
}

section.listas .hvrbox .hvrbox-layer_top p {
  font-weight: 400;
  color: #fff !important;
  font-size: 16px;
  font-style: normal;
}

section.listas .hvrbox .hvrbox-layer_top a.bt-white-red {
  margin: 10px 0 !important;
  text-align: center;
}

/*---------*/

/* HOVERBOX CATEGORIA ----------------------- */
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  margin-top: 65px;
  font-size: 18px;
  color: #4B5860;
  margin-bottom: 20px;
}
section.categoria-produtos ul li {
  overflow: visible;
}

section.categoria-produtos li.product .button {
  display: block;
  width: 70%;
  margin: 30px auto!important;
  font-size: 12px;
}
.categoria-produtos ul li .icone-educacao,
.categoria-produtos ul li .icone-saude,
.categoria-produtos ul li .icone-animais,
.categoria-produtos ul li .icone-diversos  {
  position: absolute;
  top: 325px;
  width: 100%;
  

}

section.categoria-produtos .hvrbox * {
  box-sizing: border-box;
}
section.categoria-produtos .hvrbox {
  position: relative;
  display: inline-block;
  overflow: visible;
  max-width: 100%;
  height: auto;
}

section.categoria-produtos .hvrbox .hvrbox-layer_bottom {
  display: block;
}
section.categoria-produtos .hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  padding: 15px 0;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  text-align: left;
  height: fit-content;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.75);
}

section.categoria-produtos .hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

section.categoria-produtos .hvrbox-layer_top h3 {
  color: #fff !important;
  margin-bottom: 10px;
}

section.categoria-produtos .hvrbox-layer_top h5 {
  font-weight: 400;
}

section.categoria-produtos .hvrbox .hvrbox-layer_top p {
  padding: 0 20px;
  color: #35545E!important;
  font-style: normal;
  text-align: center;
  font-size: 13px;
}


section.categoria-produtos .hvrbox .hvrbox-layer_top h2 {
  color: #4B5860!important;
  text-align: center;
  font-size: 20px!important;
  margin: 0!important;
  min-width: auto;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 0 20px!important;
}

section.categoria-produtos .hvrbox .hvrbox-layer_top p.descricao {
  padding: 0 20px;
}

section.categoria-produtos .hvrbox .hvrbox-layer_top .apelo-causa {
  background: #fff;
  padding: 20px;
  color: #4B5860!important;
}
section.categoria-produtos .hvrbox .hvrbox-layer_top  .blc-imgs{
  width: 80%!important;
}
section.categoria-produtos .hvrbox .hvrbox-layer_top .blc-infos{
 width: 100%!important;
}


section.categoria-produtos .hvrbox .hvrbox-layer_top .apelo-causa h5 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

section.categoria-produtos .hvrbox .hvrbox-layer_top .apelo-causa h5 span {
  padding-left: 60px;
  
}
section.categoria-produtos .hvrbox .hvrbox-layer_top strong {
  display: inline!important;
  
}

section.categoria-produtos .hvrbox .hvrbox-layer_top .bottom-hover-loop {
  padding: 20px 20px;
}

.destaques-home .hvrbox .hvrbox-layer_top .bottom-hover-loop .col-md-6 {
  width: 100%!important;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
}

section.categoria-produtos .hvrbox .hvrbox-layer_top .bottom-hover-loop a {
  width: 90%;
  text-decoration: none;
}

section.categoria-produtos .hvrbox .hvrbox-layer_top .bottom-hover-loop a:hover {
  background: #fff;
  color: #fff;
  text-decoration: none;
}


section.categoria-produtos .hvrbox .hvrbox-layer_top .icone-educacao,
section.categoria-produtos .hvrbox .hvrbox-layer_top .icone-saude,
section.categoria-produtos .hvrbox .hvrbox-layer_top .icone-animais {
  display: none;
}


section.categoria-produtos .hvrbox .hvrbox-layer_top .woocommerce-Price-currencySymbol {
  font-size: 18px !important;
}

/*---------*/

/* HOVERBOX HOME ----------------------- */
section.destaques-home .hvrbox * {
  box-sizing: border-box;
}
section.blog-list .hvrbox {
  position: relative;
  display: inline-block;
  overflow: visible;
  max-width: 100%;
  height: auto;
}

section.destaques-home .hvrbox .hvrbox-layer_bottom {
  display: block;
}
section.destaques-home .hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  padding: 15px 0;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  text-align: left;
  height: fit-content;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.75);
}

.carrossel-produtos-home .hvrbox .hvrbox-layer_top {
  width: 100% !important;
  left: 0 !important;
  padding: 10px 0 !important;
}

.carrossel-produtos-home .hvrbox .hvrbox-layer_top img {
  max-width: 28px !important;
}

.carrossel-produtos-home .hvrbox .hvrbox-layer_top h5 {
  font-size: 18px !important;
}

.carrossel-produtos-home .hvrbox .hvrbox-layer_top {
  font-size: 14px !important;
  line-height: 110% !important;
}

.carrossel-produtos-home .hvrbox .hvrbox-layer_top .apelo-causa h5 span {
  padding-left: 0 !important;
}

.hvrbox-layer_top .icone-diversos,
.hvrbox-layer_top .icone-saude,
.hvrbox-layer_top .icone-educacao,
.hvrbox-layer_top .icone-animais {
  display: none !important;
}

.carrossel-produtos-home .hvrbox .hvrbox-layer_top h2 {
  font-size: 22px!important;
}

section.destaques-home .hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

section.destaques-home .hvrbox-layer_top h3 {
  color: #fff !important;
  margin-bottom: 10px;
}

section.destaques-home .hvrbox-layer_top h5 {
  font-weight: 400;
}

section.destaques-home .hvrbox .hvrbox-layer_top p {
  font-weight: 400;
  color: #fff;
  font-size: 14px;
}

section.destaques-home .hvrbox .hvrbox-layer_top a {
  display: block;
  background: #fff;
  border-radius: 5px;
  color: #EF404A!important;
  padding: 5px 15px;
  margin: 5px auto;
  width: 65%!important;
  text-align: center;
  border: 2px solid #EF404A;
  font-size: 12px;
}

section.destaques-home .hvrbox .hvrbox-layer_top h2 {
  color: #000;
  text-align: center;
  font-size: 20px;
  margin: 0;
  min-width: auto;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 0 20px;
}
section.destaques-home .hvrbox .hvrbox-layer_top p.descricao {
  padding: 0 20px;
  color: #35545E!important;
  font-style: normal;
  text-align: center;
  font-size: 13px;
}
.apelo-causa .blc-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
}
.apelo-causa .blc-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68%;
  margin: 5px auto 15px;
  padding-left: 22px;
}
.apelo-causa .blc-txt {
  color: #35545E!Important;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  padding: 0;
  margin: 0;
}

section.destaques-home .hvrbox .hvrbox-layer_top .apelo-causa {
  background: #fff;
  padding: 20px;
  color: #666;
}

section.destaques-home .hvrbox .hvrbox-layer_top .apelo-causa h5 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

section.destaques-home .hvrbox .hvrbox-layer_top .apelo-causa h5 span {
  padding-left: 60px;
}

section.destaques-home .hvrbox .hvrbox-layer_top .bottom-hover-loop {
  padding: 20px 20px;
}

section.destaques-home .hvrbox .hvrbox-layer_top .bottom-hover-loop a {
  width: 90%;
  text-decoration: none;
}

section.destaques-home .hvrbox .hvrbox-layer_top .bottom-hover-loop a:hover {
  background: #EF404A;
  color: #fff!important;
  text-decoration: none!important;
}

section.destaques-home .hvrbox .hvrbox-layer_top .bottom-hover-loop .alerta {
  background: url(../img/alert.png) no-repeat 15px 2px;
  color: #808285!important;
  font-size: 12px;
  background-size: 15px;
  text-indent: 20px;
  line-height: 13pt;
  margin-top: 15px;
}

section.destaques-home .hvrbox .hvrbox-layer_top .icone-educacao,
section.destaques-home .hvrbox .hvrbox-layer_top .icone-saude,
section.destaques-home .hvrbox .hvrbox-layer_top .icone-animais {
  display: none;
}

section.destaques-home .hvrbox .hvrbox-layer_top .woocommerce-Price-amount {
  color: #4B5860!important;
  font-size: 25px !important;
}

section.destaques-home .hvrbox .hvrbox-layer_top .woocommerce-Price-currencySymbol {
  font-size: 18px !important;
}

/*---------*/

/* HOVERBOX BLOG ----------------------- */
section.blog-list .hvrbox * {
  box-sizing: border-box;
  
}
section.blog-list .hvrbox {
  position: relative;
  display: inline-block;
  overflow: visible;
  max-width: 100%;
  height: auto;
}

section.blog-list .hvrbox .hvrbox-layer_bottom {
  display: block;
}
section.blog-list .hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 185px;
  left: 15px;
  right: 15px;
  bottom: 6px;
  background: #0072b5;
  border-radius: 10px;
  box-shadow: none;
  color: #fff;
  padding: 10px 25px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  text-align: left;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  height: fit-content;
}

section.blog-list .hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
section.blog-list .hvrbox-layer_top h3 {
    font-size: 24px;
}
section.blog-list .hvrbox-layer_top h3,
section.blog-list .hvrbox-layer_top h5 {
  color: #fff !important;
  margin-bottom: 10px;
}


section.blog-list .hvrbox-layer_top h5 {
  font-weight: 600;
  text-transform: uppercase;
}

section.blog-list .hvrbox .hvrbox-layer_top p {
  font-weight: 400;
  color: #fff;
  font-size: 14px;
}

section.blog-list .hvrbox .hvrbox-layer_top a {
  /* display: block;
  background: #fff;
  border-radius: 5px;
  color: #0072b5;
  padding: 10px 15px;
  margin: 10px auto;
  width: 40%;
  text-align: center; */
  background: transparent;
  color: #fff;
  padding: 0;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  display: block;
  text-decoration: underline;
  text-transform: lowercase;
  font-size: 12px;
}

section.blog-list .hvrbox .hvrbox-layer_top a:hover {
  text-decoration: none!Important;
}

/*---------*/

/* SINGLE POST */

.single-post h1.entry-title {
  border: 0;
  font-size: 56px;
  font-weight: 400;
  color: #3f4f59;
  line-height: 1.2;
}

.single-post ul.author {
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 0;
}

.single-post ul.author li {
  list-style: none;
  padding: 0;
}

.single-post ul.author li img {
  border-radius: 50%;
  max-width: 100px;
}

.single-post .widget-area .search-form input[type="search"] {
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 20px 20px 20px 40px !important;
  background: url("../img/zoom.png") no-repeat 10px center;
  margin-top: 50px;
}

#secondary ul.nav {
  margin-left: 0 !important;
}

#secondary .widget-title {
  margin-bottom: 0;
  margin-top: 100px;
  text-transform: uppercase;
}

.blog .blog-list-img {
  width: 100%;
}

.blog h1 {
  font-weight: 400;
  font-size: 42px;
}

.blog h2 {
  font-weight: 400;
  font-size: 32px;
  color: #3f4f59;
}

/* POLITICAS */

.page-template-page-fullwidth h1.entry-static {
  font-size: 72px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #3f4f59;
}

/* SOBRE */

header.top-sobre h1 {
  font-size: 60px;
  font-weight: 400;
  padding-top: 60px;
  color: #3f4f59;
}

header.top-sobre a {
  font-size: 13px;
  margin-right: 15px;
}

header.top-sobre a.selected {
  font-weight: bold;
}

section.conceito {
  padding: 60px 0;
}

section.banca {
  padding: 60px 0;
}

section.banca h2 {
  color: #e9432c;
}

section.banca .col-md-8 {
  margin-top: 40px;
}

section.muito-mais {
  padding: 60px 0;
}

section.muito-mais h3 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 80px;
  line-height: 48px;
}

section.ciclo-virtuoso {
  padding: 60px 0;
}

section.ciclo-virtuoso h2 {
  font-size: 52px;
  text-align: center;
}

section.ciclo-virtuoso h4 {
  text-align: center;
  font-weight: 400;
}

section.marcas-causas {
  padding: 30px 0;
}

section.marcas-causas .box {
  border: 1px solid #e1e1e1;
  min-height: 240px;
  border-radius: 20px;
  padding: 20px;
}

section.marcas-causas .box h3 {
  font-weight: 400;
  font-size: 33px;
  margin-bottom: 36px;
  line-height: 42px;
  color: #3f4f59;
  margin-top: 0;
}

section.filosofia {
  padding: 60px 0;
  font-size: 21px;
  text-align: center;
}

section.institucional {
  padding: 30px 0;
}

/* EMBAIXADOR */

header.top-embaixador h1 {
  font-size: 52px;
  font-weight: 400;
  padding-top: 30px;
  color: #3f4f59;
}

header.top-embaixador h4 {
  margin: 4px 0;
  font-size: 30px;
  color: #0072b5;
}

header.top-embaixador h5 {
  margin: 35px 0 15px 0;
  font-size: 36px;
  color: #73a534;
}

header.top-embaixador p {
  margin-bottom: 0;
}

header.top-embaixador .col-md-4:nth-child(3) {
  padding-top: 50px;
}

/* MARCAS */

section.marcas-parceiras {
  padding: 40px 0;
}

section.marcas-parceiras .col-md-4 {
  margin: 30px 0;
}

section.marcas-parceiras .logo {
  min-height: 175px;
  text-align: center;
}

section.marcas-parceiras img {
  max-width: 75%;
}

/* CONTATO */

section.contato {
  padding: 60px 0;
}

section.contato h1 {
  font-size: 62px;
  font-weight: 400;
  color: #3f4f59;
  margin-top: 0;
}

section.contato h2 {
  font-size: 27px;
  font-weight: 400;
}

section.contato .form-control {
  border: 0;
  padding: 20px 0 !important;
}

section.contato span.wpcf7-list-item {
  display: block;
  margin-bottom: 10px !important;
  font-size: 16px;
  margin-left: 0 !important;
}

section.contato .assunto {
  clear: both;
  min-height: 350px;
}

section.contato .formulario input[type="text"],
section.contato .formulario input[type="email"],
section.contato .formulario textarea {
  border: 1px solid #d1d1d1;
  padding: 10px !important;
}

section.contato .formulario .col-md-6,
section.contato .formulario .col-md-12 {
  margin-bottom: 15px;
}

section.contato .formulario .btn-primary {
  margin-top: 20px;
  float: right;
}

section.contato .termos {
  margin-top: 20px;
  font-size: 12px;
}

/* WOOCOMMERCE */

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
  /* width: 29% !important; */
}

/* FOOTER */

#footer-widget {
  padding: 30px 0;
  background-color: #35545E!important;
  color: #fff;
  line-height: 26px;
  font-size: 14px;
}

#footer-widget a {
  color: #fff;
}

#footer-widget #custom_html-7 .custom-html-widget,
#footer-widget #text-4 .textwidget {
  border-left: 1px solid #fff;
  padding-left: 20px;
}

#footer-widget #custom_html-8 .custom-html-widget,
#footer-widget #custom_html-7 .custom-html-widget {
  margin-top: 30px;
}

#footer-widget #text-4 {
  margin-top: 15px;
  font-size: 12px !important;
}

#footer-widget #text-4 h3 {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

#footer-widget #text-4 p {
  margin-bottom: 5px;
}

#footer-widget #text-4 h5 {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}

#footer-widget p.redes {
  margin-top: 20px;
  font-size: 12px;
  margin-bottom: 0;
}

#footer-widget a.social {
  margin-top: 10px;
  display: inline-block;
  margin-right: 15px;
}

#footer-widget #text-4 input[type="email"] {
  width: 75%;
  float: left;
  border-radius: 0 !important;
  border: 0;
  font-size: 19px;
}

#footer-widget #text-4 input[type="submit"] {
  float: left;
    background: #F23E45!important;
    border-radius: 0 !important;
    font-size: 14px;
    width: 20%;
    color: #fff !important;
    padding: 7px !important;
    margin-top: -1px !important;
}

.widget {
  font-size: 14px !important;
}

#colophon {
  display: none;
}

.displayCart .badge {
  display: none;
}

/* T9 */

.woocommerce-error {
  background-color: #fdebcc;
}

.woocommerce-error li {
  color: #ef404a;
  font-size: 20px;
}
.search-container {
  position: relative;
  width: 250px;
  height: 40px;
  position: absolute;
  right: 75px;
  top: 6px;
} 
.search-container > .fa {
  position: absolute;
    z-index: 99;
    top: 8px;
    left: 15px;
    color: #E9432C;
}
.search-form {
  position: relative;
}
.search-field {
  width: 250px;
    border: 1px solid #707070;
    box-shadow: none;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    outline: none;
    color: #080909;
    font-size: 14px;
    padding-left: 40px;
}
.search-submit {
  position: absolute;
  left: 10px;
  z-index: 2;
  width: 25px;
  height: 25px;
  font-size: 0;
  top: 3px;
}

