/* Topo */
.navbar{
    display: flex !important;
    height: 80px !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
}

#alignment .displayCart{
    display: none !important;
}

#menufullscreen{
    background: #006FB7 !important;
}

#menufullscreen #close i{
    font-size: 18px !important;
}

#menufullscreen #small-nav a{
    text-transform: inherit !important;
    font-size: 18px !important;
}

#menufullscreen #small-nav ul li:nth-child(5){
    margin-top: 0 !important;
}

#menufullscreen .navbar-nav a{
    text-transform: uppercase !important;
    font-size: 20px !important;
    font-weight: 100 !important;
}

.lateral-icons{
    position: absolute;
    right: 80px;
    top: 32px;
}

#searchbox, #menufullscreen{
    z-index: 99999 !important;
}

#searchbox{
    background: #fff !important;
    width: 100% !important;
}

#searchbox .search-field{
    color: #000 !important;
    background: #fff !important;
    font-size: 16px !important;
    font-family: 'Encode Sans', sans-serif !important;
    margin-top: 9px !important;
}

#searchbox .search-field::placeholder{
    color: #000 !important;
    font-size: 16px !important;
    font-family: 'Encode Sans', sans-serif !important;

}

#searchbox .campo i{
    color: red !important;
    font-size: 25px !important;
    margin-top: 16px !important;
}
#searchbox #close i{
    color: red !important;
    font-size: 20px !important;
    margin-top: 10px !important;

}

.search-submit{
    position: inherit !important;
    width: inherit !important;
    height: inherit !important;
    border: 2px solid red !important;
    background: #fff !important;
    color: red;
    font-size: 12px !important;
    padding: 7px 15px !important;
    box-sizing: border-box !important;
    font-family: 'Encode Sans', sans-serif !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
}

.search-submit:hover{
    border: 2px solid #fff !important;
    background: red !important;
    color: #fff;
}

.dropup-content{
    bottom: inherit !important;
    right: 80px !important;
}

.lateral-icons ul{
    list-style: none;
    display: flex;
}
.displayCart{
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 9999 !important;
}

@media(max-width: 1200px){
    #menu-principal{
        display: none !important;
    }
}

@media(max-width: 1024px){
    #searchbox{
        padding: 12px 25px !important;
        

    }
    #searchbox .search-submit{
        display: none !important;
    }
    .navbar{
        width: 80% !important;
    }
    #menufullscreen .container{
        width: 90% !important;
    }
    .lateral-icons .searchtopo{
        margin-right: 0 !important;
    }
    .displayCart{
        top: 3px !important;
    }
    header.banner-home h1{
        top: 0 !important;
        font-size: 30px !important;
    }

    #menufullscreen .btn-padrao{
        margin-top: 40px !important;
        margin-left: -15px !important;
    }
}
@media(max-width: 600px){
    article > header.banner-home h1{
        top: 0 !important;
        font-size: 25px !important;
        line-height: 25px !important;
    }
}

/* Home */

.post-data a{
    text-decoration: underline !important;
}

.blogpost-home{
    margin-top: 30px !important;
}

#content.site-content{
    background: #fff !important;
}

.nav-pills{
    margin-top: 30px !important;
}

section.listas .box-links h3{
    text-transform: inherit !important;
}

section.blog-list .post-data h5{
    margin: 0 !important;
}

section.listas .box-links{
    padding: 40px !important;
}

section.listas .box-links p{
    font-size: 14px !important;
    font-weight: 100 !important;
}

section.listas .box-links h3{
    font-size: 18px !important;
    font-weight: 100 !important;
}

section.listas .box-links a{
    font-size: 14px !important;
    text-decoration: underline !important;
    margin-top: 30px !important;
}

section.blog-list .post-data{
    padding: 49px !important;
}

.home-h2{
    font-size: 30px !important;
    font-family: 'Encode Sans', sans-serif;
    color: #4B5860 !important;
    font-weight: 500 !important;
    text-transform: none !important;
}

@media(max-width: 1024px){
    .home-h2{
        font-size: 17px !important;
    }
    .destaques-home{
        padding: 33px 0 !important;
    }
    .porque-comprar .bt-white-red{
        margin-top: 10px !important;
    }

    #footer-widget .row{
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    #footer-widget .row :nth-child(1){
        order:4 !important;
        
     }
    #footer-widget .row :nth-child(2){
        order:3 !important;
    }
    #footer-widget .row :nth-child(3){
        order:2 !important;
    }
    #footer-widget .row :nth-child(4){
        order:1 !important;
        border-bottom: 1px solid #fff !important;
        
    }

    #footer-widget .row :nth-child(4) p{
        border-bottom: none !important;
        
    }

    .borda-baixo{
        border-bottom: 1px solid #fff;
    }
    .borda-cima{
        border-top: 1px solid #fff;
    }

    .textwidget{
        border: none !important;
        padding-left: 0 !important;
    }
    
}

.cont-vermelho-home{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

article .listas{
    background: #ef404a !important;
}

.cont-vermelho-home-centro{
    text-align: center !important;
}

.cont-vermelho-home-centro h2{
    text-transform: inherit !important;
}

@media(max-width: 1023px) and (min-width: 769px){
    .cont-listas .col-md-4{
        width: 45% !important;
    }
}

/* Products */

.products{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
}

.woocommerce-loop-product__title{
    font-size: 18px !important;
    font-family: 'Encode Sans', sans-serif;
    color: #4B5860 !important;
    font-weight: 500 !important;
}

.product{
    width: 31% !important;
    margin-top: 50px !important;
}

.owl-item .product{
    width: 100% !important;
}

.woocommerce-Price-amount, .woocommerce-Price-currencySymbol{
    font-size: 20px !important;
    font-weight: 100 !important;
    font-family: 'Encode Sans', sans-serif !important;
}

section.destaques-home .hvrbox .hvrbox-layer_top .price > del .woocommerce-Price-amount, 
section.destaques-home .hvrbox .hvrbox-layer_top .price > del .woocommerce-Price-currencySymbol{
    font-size: 13px !important;
    font-weight: 100 !important;
    font-family: 'Encode Sans', sans-serif !important;
    text-decoration: line-through !important;
}

.price > del .woocommerce-Price-amount, 
.price > del .woocommerce-Price-currencySymbol{
    font-size: 13px !important;
    font-weight: 100 !important;
    font-family: 'Encode Sans', sans-serif !important;
    text-decoration: line-through !important;
}

@media(min-width: 1281px){
    .product{
        width: 29% !important;
    }

    .woocommerce .categoria-produtos ul li .icone-saude{
        top: 307px !important;
    }
}

@media(max-width: 1280px){
    .product{
        width: 40% !important;
    }
    .woocommerce .categoria-produtos ul li .icone-saude{
        top: 350px !important;
    }
}

@media(min-width: 1200px) and (max-width: 1280px){
    .woocommerce .categoria-produtos ul li .icone-saude{
        top: 412px !important;
    }
}

@media(max-width: 768px){
    .product{
        width: 100% !important;
    }

    .woocommerce .categoria-produtos ul li .icone-saude{
        top: 550px !important;
    }
}

@media(max-width: 1024px){

    

    .owl-item .size-woocommerce_thumbnail{
        margin: 0 !important;
        display: inherit !important;
    }

    .logo-banca-footer{
        position: relative !important;
        left: 0 !important;
        bottom: 0 !important;
        top: 10px !important;
        height: 152% !important;
    }
    
    .redes-sociais-footer{
        position: absolute !important;
        right: 0 !important;
        width: 200px !important;
        top: -7px;
    
    }

    article .listas .col-md-4{
        padding: 0 10px !important;
    }


}
@media(max-width: 1023px) and (min-width: 769px){
    .product{
        width: 50% !important;
    }
    .woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product{
        width: 40% !important;
    }
}

section.destaques-home .hvrbox .hvrbox-layer_top{
    padding: 0 0 30px 0 !important;
}

article section.destaques-home .hvrbox .hvrbox-layer_top .bottom-hover-loop a{
    background: #EF404A !important;
    color: #fff !important;
    border: 2px solid #EF404A !important;
}

article section.destaques-home .hvrbox .hvrbox-layer_top .bottom-hover-loop a:hover{
    background: #fff!important;
    color: #EF404A !important;
    border: 2px solid #EF404A !important;

}
section.destaques-home .hvrbox .hvrbox-layer_top .bottom-hover-loop .alerta{
    text-align: center !important;
    background: url("../img/alert.png") no-repeat 27px 2px !important;
    color: #808285!important;
    font-size: 12px !important;
    background-size: 15px !important;
    text-indent: 20px !important;
    line-height: 13pt !important;
    margin-top: 15px !important;
}

section.destaques-home span.price{
    margin: 0 0 18px 0 !important;
}

section.destaques-home h2.woocommerce-loop-product__title{
    margin: 55px auto 0 !important;
}

/* Padrão */

.btn-padrao{
    position: inherit !important;
    width: inherit !important;
    height: inherit !important;
    border: 2px solid red !important;
    background: #fff !important;
    color: red;
    font-size: 12px !important;
    padding: 12px 23px !important;
    box-sizing: border-box !important;
    font-family: 'Encode Sans', sans-serif !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn-vermelho{
    background: #ef404a !important;
    color: #fff !important;
    border-radius: 5px !important;
    padding: 10px 25px !important;
}

.btn-padrao:hover{
    background: red !important;
    color: #fff;
}

.tamanho-botao{
    width: 175px !important;
}

.carrinho-icon{
    background: #fff url("../img/cart_red.svg") 10px center !important;
    background-size: 15% !important;
    background-repeat: no-repeat !important;
    padding-left: 55px !important;
}

.carrinho-icon:hover{
    background: red url("../img/cart_white.svg") 10px center !important;
    background-size: 15% !important;
    background-repeat: no-repeat !important;
    padding-left: 55px !important;
}

/* Top Categoria */

.top-categoria{
    background: #0072B5 !important;
}
.top-categoria h1{
    color: #fff !important;
    text-transform: uppercase !important;
    font-size: 48px !important;
    font-family: 'Encode Sans', sans-serif !important;
}

.container .product-type a{
    color: #0072B5 !important;
}

.categoria-filtros .search-submit{
    display: none !important;
}

.search-field{
    border-radius: 20px !important;
}

.woocommerce .categoria-produtos ul li .icone-saude, 
.woocommerce .categoria-produtos ul li .icone-educacao,
.woocommerce .categoria-produtos ul li .icone-animais,
.woocommerce .categoria-produtos ul li .icone-diversos{
    position: inherit !important;
    margin-top: -132px !important;
    margin-bottom: 132px !important;
}

section.categoria-produtos .hvrbox:hover .hvrbox-layer_top, .hvrbox.active .hvrbox-layer_top {
    padding: 40px 0 !important;
}
section.categoria-produtos .hvrbox .hvrbox-layer_top .bottom-hover-loop .alerta{
    text-align: center !important;
}

section.categoria-produtos .hvrbox .hvrbox-layer_top .bottom-hover-loop a{
    background: #EF404A !important;
    color: #fff !important;
}

.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li{
    border: none !important;
    
}
.woocommerce nav.woocommerce-pagination ul li .current{
    background: #fff !important;
    color: #EF404A !important;
}
.woocommerce nav.woocommerce-pagination ul li a{
    color: #000 !important;
}

.cadeira-de-rodas{
    position: relative !important;
}
.cadeira-de-rodas img{
    position: absolute !important;
    bottom: -129px !important;
    left: 100px !important;
}
.top-categoria{
    height: 307px !important;
    margin-bottom: 90px !important;
}

@media(max-width: 1280px) and (min-width: 1024px){
    .top-categoria h1{
        font-size: 40px !important;
    }
}

@media(max-width: 768px){
    .top-categoria h1{
        font-size: 30px !important;
    }
    .top-categoria .row{
        flex-wrap: nowrap !important;
    }
    .cadeira-de-rodas img{
        position: absolute !important;
        bottom: inherit !important;
        left: inherit !important;
        width: 80% !important;
    }
}

@media(max-width: 1024px) and (min-width: 769px){
    .top-categoria h1{
        font-size: 40px !important;
    }
    .top-categoria .row{
        flex-wrap: nowrap !important;
    }
    .cadeira-de-rodas img{
        position: absolute !important;
        bottom: inherit !important;
        left: inherit !important;
    }
}

.single-product .product{
    width: 100% !important;
    margin-top: 0 !important;
}

section.top-produto .col-md-5, section.top-produto .col-md-7{
    margin-top: 10px !important;
}

section.top-produto h1{
    font-size: 30px !important;
    padding-bottom: 20px !important;
}

section.top-produto{
    background: url("../img/bg-top-produto.jpg") center no-repeat !important;
    background-size: cover !important;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger{
    display: none !important;
}

.see-pages{
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 8px;
    padding: 10px 15px !important;
    font-size: 13px !important;
    font-family: 'Encode Sans', sans-serif !important;
    font-weight: 200 !important;
    text-decoration: none !important;
    text-transform: uppercase;
}

.dica-causa{
    text-align: left !important;
}

section.top-produto .dica-causa p {
    background: url("../img/line-vocesabia.png") bottom left no-repeat;
}

.botoes-desc-produto{
    display: flex !important;
    flex-wrap: wrap !important;
}

.woocommerce .quantity .qty {
    width: 3.631em !important;
    text-align: center !important;
    border: 1px solid #ccc !important;
    height: 39px !important;
    border-radius: 5px !important;
}